svg {
    width: 400px;
}

svg * {
    -webkit-transition : all 0.4s;
    -moz-transition    : all 0.4s;
    -ms-transition     : all 0.4s;
    -o-transition      : all 0.4s;
    transition         : all 0.4s;
}